<header class="app-header">
  <div class="logo">
    <i class="pi pi-at"></i>
    <span>Your Company</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/">Home</a>
  </nav>

  <div class="icons">
    <i class="pi pi-user"></i>
    <app-notificaciones></app-notificaciones>
    <i class="pi pi-twitter"></i>
    <i class="pi pi-instagram"></i>
    <i class="pi pi-facebook"></i>
  </div>
</header>

<div class="header">
  <nav>
    <ul class="menu">
      <li *ngFor="let item of items">
        <a [routerLink]="item.routerLink">{{ item.label }}</a>
      </li>
    </ul>
    <app-notificaciones></app-notificaciones>
  </nav>
</div>
