<div class="header">
  <nav>
    <div class="logo">
      <i class="pi pi-at"></i>
      <span>SubastasWeb</span>
    </div>

    <ul class="menu">
      <li *ngFor="let item of items">
        <a [routerLink]="item.routerLink">{{ item.label }}</a>
      </li>
      <!-- Botón de estadísticas solo para casas de remate -->
      <li *ngIf="isCasaRemate">
        <a [routerLink]="['/estadisticas']">
          <i class="pi pi-chart-bar"></i>
          Estadísticas
        </a>
      </li>
    </ul>

    <div class="right-section">
      <a *ngIf="isLoggedIn" [routerLink]="['/perfil', usuarioId]" class="profile-link">
        <i class="pi pi-user"></i>
      </a>
      <i *ngIf="!isLoggedIn" class="pi pi-user"></i>
      <app-notificaciones></app-notificaciones>
      
      <!-- Botón de logout cuando el usuario está logueado -->
      <button *ngIf="isLoggedIn" 
              pButton 
              type="button" 
              icon="pi pi-sign-out" 
              class="p-button-text p-button-rounded logout-button"
              (click)="logout()"
              pTooltip="Cerrar sesión">
      </button>
    </div>
  </nav>
</div>
