<div class="header">
  <nav>
    <div class="logo">
      <i class="pi pi-at"></i>
      <span>SubastasWeb</span>
    </div>
    <div class="flex items-center gap-3 ml-auto">

  <!-- Botón de iniciar sesión (solo si NO está autenticado) -->
  <button *ngIf="!isLoggedIn"
          pButton 
          label="Iniciar sesión" 
          icon="pi pi-sign-in" 
          class="p-button-sm p-button-secondary" 
          routerLink="/login">
  </button>

  <!-- Botón de cerrar sesión (solo si SÍ está autenticado) -->
  <button *ngIf="isLoggedIn"
          pButton 
          label="Cerrar sesión" 
          icon="pi pi-sign-out" 
          class="p-button-sm p-button-danger" 
          (click)="logout()">
  </button>

</div>

    <ul class="menu">
      <li *ngFor="let item of items">
        <a [routerLink]="item.routerLink">{{ item.label }}</a>
      </li>
    </ul>

    <div class="right-section">
      <a *ngIf="isLoggedIn" [routerLink]="['/perfil', usuarioId]" class="profile-link">
        <i class="pi pi-user"></i>
      </a>
      <i *ngIf="!isLoggedIn" class="pi pi-user"></i>
      <app-notificaciones></app-notificaciones>
      <div class="social-icons">
        <i class="pi pi-twitter"></i>
        <i class="pi pi-instagram"></i>
        <i class="pi pi-facebook"></i>
      </div>
    </div>
  </nav>
</div>
