<div class="container mt-4">
  <h2>Panel de Administración</h2>

  <div class="btn-group-vertical mt-3" role="group">
    <button class="btn btn-primary mb-2" routerLink="/admin/aprobar-casas">
      🟢 Aprobar Casas de Remate
    </button>

    <button class="btn btn-warning mb-2" routerLink="/admin/desaprobar-casas">
      🟡 Desaprobar Casas de Remate
    </button>

    <button class="btn btn-danger mb-2" routerLink="/admin/usuarios">
      🔴 Eliminar usuarios por rol
    </button>
  </div>

  <hr />

  <app-logout-button></app-logout-button>
</div>
