<footer class="w-full flex flex-wrap">
    <div class="padres flex">
        <span class="titulo">Navegacion</span>
        <div class="textos flex">
            <span class="texto">Inicio</span>
            <span class="texto">Perfil</span>
            <span class="texto">Estadisticas</span>
        </div>
        
    </div>
    <div class="padres flex">
        <span class="titulo">Social</span>
        <div class="textos flex">
            <span class="texto"><i class="pi pi-instagram"></i> Instagram</span>
            <span class="texto"><i class="pi pi-facebook"></i> Facebook</span>
            <span class="texto"><i class="pi pi-youtube"></i> Youtube</span>
            <span class="texto"><i class="pi pi-twitter"></i> Twitter</span>
        </div>
        
    </div>
</footer>
