main {
    font-family: 'Source Sans 3', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 40px;
    display: flex;
    color:#242424
}

.article-1 {
    min-height: 20px;
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.paddingArticle {
    padding-left: 2vw;
}

.video-player-1 {
  width: 700px;
  height: 478px;
  background: #E6E6E6;
  border-color: #7A7A7A;
  border-width: 1px;
  border-style: solid;
}

.padreTituloReloj {
    display: flex;
    align-items: center;   
    gap: 1.7vw;
}

.titulo {
    margin: 0%;
    font-size: 2.25rem;
}

.icono {
    font-size: 1.2rem;
}

.text-input{
	width: 6vw;
	height: 38px;
	padding-left: 0.2vw;
    padding-top: 5px;
    padding-bottom: 5px;
	background: #FFFFFF;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 500;
	font-size: 2rem;
	text-align: left;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(65, 61, 61, 0.418);
    margin: 20px 0;
    display: block;
}

.subDiv {
    padding-left: 1vw;
}

.subtitulo {
    margin-top: 5px;
    font-size: 1.7rem;
}

.padrePujas {
    gap: 1.3vw;
    margin-bottom: 20px
}

.boton {
    width: 8vw;
    height: 38px;
    padding: 0px 0.5vw 0px 0.5vw;
    background: #444444;
    color: #FFFFFF;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px 6px 6px 6px;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}