main {
    font-family: 'Source Sans 3', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 40px;
    display: flex;
}

.article-1 {
    min-height: 20px;
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.paddingArticle {
    padding-left: 2vw;
}

.video-player-1 {
  width: 700px;
  height: 478px;
  background: #E6E6E6;
  border-color: #7A7A7A;
  border-width: 1px;
  border-style: solid;
}

.padreTituloReloj {
    display: flex;
    align-items: center;   
    gap: 2vw;
}

.titulo {
    margin: 0%;
    font-size: 2.25rem;
}

.icono {
    font-size: 1.2rem;
}